@import 'common.css';
@import 'public.css';
.cont{
    width: 980px !important;
    margin: 0 auto;
}
.header-wrap{
    .topbar{
        .topbar-right{
            .kffw{
                position: relative;
                .icon-down-copy{
                    display: none;
                }
                .box{
                    display: none;
                    position: absolute;
                    top: 30px;
                    left: 0;
                    width: 100%;
                    li{
                        width: 100%;
                        background: #fff;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        a:hover{
                            color: #ff4040;
                        }
                    }
                }
                &:hover .icon-up-copy{
                    display: none;
                }
                &:hover .icon-down-copy{
                    display: inline;
                }
                &:hover .box{
                    display: block;
                }
                &:hover{
                    background-color: #fff;
                }
            }
            .app{
                position: relative;
                .wx{
                    position: absolute;
                    top: 30px;
                    left: -10px;
                    display: none;
                    padding: 15px 9px 9px;
                    border: 1px solid #e5e5e5;
                    background-color: #fff;
                    .text{
                        text-align: center;
                        line-height: 12px;
                        margin-bottom: 7px;
                    }
                    img{
                        width: 90px;
                        height: 90px;
                    }
                }
                &:hover .wx{
                    display: block;
                }
            }
        }
    }
}
.yhd-cart-content{
    background: url(https://img.yihaodianimg.com/cart/shopping/pc/images/bg980.png) no-repeat center fixed;
    h1{
        float: left;
        .logo{
            float: left;
            padding-top: 17px;
            width: 40px;
            height: 28px;
            margin-right: 10px;
            background: url(https://img.yihaodianimg.com/cart/shopping/pc/images/logo.png) no-repeat bottom;
        }
        .logo-txt{
            float: left;
            padding-top: 8px;
            width: 73px;
            height: 40px;
            margin-right: 10px;
            background: url(https://img.yihaodianimg.com/cart/shopping/pc/images/logo_txt.png) no-repeat 0 20px;
        }
    }
    .search{
        float: right;
        width: 260px;
        height: 20px;
        padding: 5px 10px;
        margin: 15px 0;
        border: 1px solid #eceaea;
        border-radius: 5px;
        background: #fcfbfb;
        input{
            float: left;
            width: 230px;
            height: 20px;
            border: none;
            background: #fcfbfb;
            color: #666;
            outline: none;
        }
        .search-btn{
            display: inline-block;
            _float: right;
            width: 30px;
            height: 20px;
            text-align: center;
            color: #aaa;
            _overflow: hidden;
            line-height: 20px;
        }
    }
    .empty{
        background: #f8f8f8;
        padding: 50px 0;
        .no-prod{
            width: 550px;
            height: 300px;
            margin: 0 auto;
            .img-wrap{
                float: left;
            }
            .info{
                float: left;
                display: inline-block;
                vertical-align: middle;
                text-align: left;
                padding-top: 100px;
                p{
                    padding-left: 5px;
                    font-size: 14px;
                    font-family: 'sumhei';
                    line-height: 24px;
                }
                .btn-box{
                    padding-top: 25px;
                    text-align: left;
                    a{
                        display: inline-block;
                        width: 75px;
                        height: 26px;
                        margin: 0 5px;
                        border: 1px solid #ff5e5e;
                        border-radius: 2px;
                        background-color: #ff6c6c;
                        color: #fff;
                        line-height: 26px;
                        text-align: center;
                        _float: left;
                    }
                    .cancel{
                        border-color: #ddd !important;
                        background-color: #fcfcfc !important;
                        color: #666 !important;
                    }
                }
            }
        }
    }
    .bottom-wrap{
        min-width: 980px;
        .sale-prod-list{
            width: 1200px;
            margin: 20px auto 0;
            .hot-sale-tit{
                height: 40px;
                padding-right: 10px;
                line-height: 40px;
                color: #ff9841;
                text-align: center;
                font-size: 16px;
                font-family: 'microsoft yahei';
                i{
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 8px;
                    font-weight: normal;
                    font-size: 20px;
                }
            }
            p{
                line-height: 12px;
                padding-bottom: 12px;
                text-align: center;
                color: #999;
            }
        }
    }
}






