@import 'common.css';
@import 'public.css';
@import 'swiper.css';
@import 'needlazyload.scss';


.new-person{
    width: 1070px;
    height: 110px;
    margin-top: 20px;
    cursor: pointer;
}
.single-con{
    background: 0;
    width: 100%;
    height: 444px;
    margin-top: 20px;
    position: relative;
    .superSingle{
        position: relative;
        width: 1070px;
        margin: 0 auto;
        height: 370px;
        background: url(../images/super_single_bg.png);
        ul{
            width: 1050px;
            height: 432px;
            margin: 0 auto;
            position: relative;
            top: 10px;
            .single-one{
                background: none;
                a{
                    .single-logo{
                        width: 129px;
                        height: 36px;
                        margin-left: 20px;
                        margin-top: 22px;
                        cursor: pointer;
                    }
                }
                .single-text{
                    width: 180px;
                    height: 40px;
                    margin-left: 24px;
                    position: relative;
                    overflow: hidden;
                    .sing-text-font{
                        font-size: 14px;
                        color: #fff;
                        color: rgba(255,255,255,0.8);
                        display: block;
                        margin-right: 8px;
                        float: left;
                        height: 22px;
                        float: left;
                        font-weight: bold;
                        cursor: pointer;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        overflow: hidden;
                    }
                }
                .sing-text-line{
                    border-bottom: 3px solid #fff;
                    position: absolute;
                    height: 1px;
                    width: 28px;
                    left: 0px;
                    top: 27px;
                }
                .single-djs{
                    width: 137px;
                    height: 66px;
                    margin-left: 24px;
                    margin-top: 10px;
                    .djs-title{
                        width: 100%;
                        color: #fff;
                        font-size: 16px;
                        line-height: 26px;
                        i{
                            font-size: 22px;
                            position: relative;
                            top: 2px;
                        }
                        .s-text{
                            display: inline-block;
                        }
                    }
                    .djs-time{

                    }
                    .count-time{
                        height: 26px;
                        font-size: 0;
                        text-align: center;
                        margin-top: 9px;
                        span{
                            display: inline-block;
                            width: 35px;
                            height: 35px;
                            line-height: 35px;
                            text-align: center;
                            background-color: #161616;
                            color: #fff;
                            font-size: 20px;
                            font-family: Tahoma;
                            font-weight: bold;
                            -moz-border-radius: 10px;
                            border-radius: 10px;
                        }
                        i{
                            display: inline-block;
                            width: 16px;
                            height: 35px;
                            line-height: 35px;
                            text-align: center;
                            font-size: 14px;
                            font-weight: bold;
                            color: #fff;
                            position: relative;
                            top: -3px;
                            font-style: normal;
                        }
                    }
                }
            }
            li{
                background-color: #fff;
                width: 210px;
                height: 216px;
                float: left;
                font-size: 14px;
                .superSingle-a{
                    width: 100%;
                    height: 100%;
                    display: block;
                    .single-top{
                        width: 210px;
                        height: 135px;
                        background-position: center;
                        background-repeat: no-repeat;
                        text-align: center;
                        position: relative;
                        .s-bz{
                            height: 24px;
                            -moz-border-radius: 0 0 12px 12px;
                            color: #fff;
                            position: relative;
                            top: 10px;
                            line-height: 24px;
                            display: inline-block;
                            z-index: 1;
                        }
                        .single-top-img{
                            width: 110px;
                            height: 110px;
                            position: absolute;
                            top: 15px;
                            left: 50%;
                            margin-left: -55px;
                        }
                    }
                    .single-bottom{
                        height: 81px;
                        width: 150px;
                        margin: 0 auto;
                        position: relative;
                        .s-title{
                            width: 153px;
                            height: 20px;
                            overflow: hidden;
                            white-space: nowrap;
                            -o-text-overflow: ellipsis;
                            text-overflow: ellipsis;
                        }
                        .s-bar{
                            width: 150px;
                            height: 6px;
                            margin-top: 10px;
                            background-color: #e2e2e2;
                            -moz-border-radius: 100px;
                            border-radius: 100px;
                            .s-progress{
                                width: 60%;
                                height: 100%;
                                -moz-border-radius: 100px;
                                border-radius: 100px;
                                background-color: #d9161d;
                                background-image: -webkit-gradient(linear,right top,left top,from(#d9161d),to(#f0444d));
                                background-image: -webkit-linear-gradient(right,#d9161d 0%,#f0444d 100%);
                                background-image: -moz-linear-gradient(right,#d9161d 0%,#f0444d 100%);
                                background-image: -o-linear-gradient(right,#d9161d 0%,#f0444d 100%);
                                background-image: linear-gradient(-90deg,#d9161d 0%,#f0444d 100%);
                            }
                        }
                        .s-con{
                            height: 33px;
                            padding-top: 12px;
                            position: relative;
                            overflow: hidden;
                            text-align: center;
                            .s-num{
                                display: inline-block;
                                font-family: Tahoma,"Microsoft YaHei";
                                color: #e50113;
                                font-weight: bold;
                                font-size: 14px;
                                .s-num-act{
                                    margin-left: -3px;
                                }
                                .s-num-underline{
                                    text-decoration: line-through;
                                    font-size: 12px;
                                    color: #999;
                                    font-weight: normal;
                                    margin-left: 4px;
                                    .s-num-line{
                                        margin-left: -3px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            li:not(.single-one){
                cursor: pointer;
                &:hover{
                    background: #fff;
                    -webkit-box-shadow: 0 5px 31px 0 rgba(0,0,0,0.09);
                    -moz-box-shadow: 0 5px 31px 0 rgba(0,0,0,0.09);
                    box-shadow: 0 5px 31px 0 rgba(0,0,0,0.09);
                    -webkit-transform: scale(1.06);
                    -moz-transform: scale(1.06);
                    -ms-transform: scale(1.06);
                    -o-transform: scale(1.06);
                    transform: scale(1.06);
                }
            }
        }
    }
    .happy-summer{
        width: 100px;
        position: absolute;
        left: 50%;
        margin-left: 540px;
        top: 0px;
        z-index: 10000;
        img{
            cursor: pointer;
        }
        .happy-bott{
            background-color: #fff;
            font-size: 14px;
            color: #333;
            text-align: center;
            line-height: 14px;
            .down-app{
                height: 30px;
                line-height: 34px;
                letter-spacing: 1px;
            }
            .happy-ewm{
                cursor: auto;
                width: 76px;
                cursor: pointer;
            }
            .h-logo{
                width: 100px;
            }
        }
        .h-gws{
            width: 100%;
            height: 40px;
            background-color: #fff;
            border-top: 1px solid #f0f0f0;
            font-size: 14px;
            cursor: pointer;
            position: relative;
            display: block;
            text-align: center;
            line-height: 40px;
            i{
                color: #272636;
                font-size: 20px;
                position: relative;
                top: 1px;
            }
            .hd-c-num{
                position: absolute;
                z-index: 601;
                top: 2px;
                right: 2px;
                min-width: 12px;
                height: 18px;
                padding: 0 3px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                background: #ff4040;
                color: #fff;
                font-family: Tahoma;
                font-size: 12px;
                text-decoration: none;
                line-height: 17px;
                text-align: center;
            }
            .none{
                display: none;
            }
        }
        .h-zd{
            font-size: 14px;
            width: 100%;
            height: 30px;
            text-align: center;
            line-height: 29px;
            background-color: #444;
            color: #fff;
            font-family: Tahoma;
            cursor: pointer;
            display: block;
            i{
                color: #fff;
                position: relative;
                top: 2px;
                font-size: 20px;
            }
        }
    }
}