@import "common.css";
#needLazyLoad{
    height: 501px;
    margin-top: 20px;
    // background-color: #fff;
    .quality-imoport{
        height: 501px;
        margin-top: 20px;
        background-color: #fff;
        .qua-show{
            width: 899px;
            height: 421px;
            float: left;
            .qua-tit{
                height: 67px;
                .qua-tit-top{
                    margin-top: 17px;
                    height: 35px;
                    margin-left: 20px;
                    margin-top: 12px;
                    font-size: 26px;
                    color: #92a700;
                    display: inline-block;
                    cursor: pointer;
                    max-width: 190px;
                    overflow: hidden;
                }
                .qua-tit-spanLast{
                    margin-left: 8px;
                    font-size: 16px;
                    color: #b6c166;
                    color: rgba(133,152,0,0.7);
                    margin-top: 27px;
                    height: 21px;
                    cursor: pointer;
                    display: inline-block;
                    max-width: 208px;
                    overflow: hidden;
                    position: relative;
                    top: -3px;
                }
            }
            .qua-show-con{
                width: 900px;
                height: 334px;
                position: relative;
                padding-left: 20px;
                .qua-show-con-left{
                    position: relative;
                    width: 189px;
                    height: 334px;
                    float: left;
                }
                .qua-left-font-con{
                    font-size: 14px;
                    color: #fff;
                    position: absolute;
                    width: 176px;
                    height: 90px;
                    margin-left: 14px;
                    top: 16px;
                    a{
                        background: rgba(255,255,255,0.1) !important;
                        border: 1px solid rgba(255,255,255,0.61) !important;
                        width: 74px;
                        height: 23px;
                        text-align: center;
                        line-height: 23px;
                        float: left;
                        margin-right: 9px;
                        margin-bottom: 9px;
                        cursor: pointer;
                        color: #fff;
                        overflow: hidden;  
                    }
                    a:hover{
                        background: rgba(255,255,255,0.3) !important;
                    }
                }
                .qua-show-con-right{
                    width: 680px;
                    height: 334px;
                    float: left;
                    .import-snacks{
                        width: 335px;
                        height: 167px;
                        position: relative;
                        float: left;
                        background-color: #faf7f6;
                        background-image: -webkit-linear-gradient(225deg,#fafaf9 0%,#faf7f6 100%);
                        background-image: -moz-linear-gradient(225deg,#fafaf9 0%,#faf7f6 100%);
                        background-image: -o-linear-gradient(225deg,#fafaf9 0%,#faf7f6 100%);
                        background-image: linear-gradient(-135deg,#fafaf9 0%,#faf7f6 100%);
                        cursor: pointer;
                        .import-tit{
                            margin-top: 40px;
                            color: #793a11;
                            white-space: nowrap;
                            overflow: hidden;
                            -o-text-overflow: ellipsis;
                            text-overflow: ellipsis;
                            width: 150px;
                        }
                        .voucher-tit{
                            color: #b77347;
                            margin-top: 5px;
                            white-space: nowrap;
                            overflow: hidden;
                            -o-text-overflow: ellipsis;
                            text-overflow: ellipsis;
                            width: 150px;
                        }
                        .buy-btn{
                            border: 1px solid rgba(192,132,92,0.5);
                            width: 78px;
                            height: 27px;
                            text-align: center;
                            line-height: 27px;
                            margin-top: 15px;
                            color: #c0845c;
                            cursor: pointer;
                            overflow: hidden;
                            &:hover{
                                background: #fff;
                            }
                        }
                        p{
                            margin-left: 30px;
                            font-size: 14px;
                        }
                        div{
                            margin-left: 30px;
                            font-size: 14px;
                        }
                        img{
                            position: absolute;
                            right: 30px;
                            bottom: 27px;
                            -webkit-transition: -webkit-transform .4s ease;
                            transition: -webkit-transform .4s ease;
                            -o-transition: -o-transform .4s ease;
                            -moz-transition: transform .4s ease,-moz-transform .4s ease;
                            transition: transform .4s ease;
                            transition: transform .4s ease,-webkit-transform .4s ease,-moz-transform .4s ease,-o-transform .4s ease;
                            cursor: pointer;
                            width: 110px;
                            height: 110px;
                        }
                    }
                    .bursting{
                        float: left;
                        position: relative;
                        width: 167px;
                        height: 167px;
                        cursor: pointer;
                        p{
                            margin-left: 15px;
                            font-size: 14px;
                            color: #666;
                            margin-top: 15px;
                            overflow: hidden;
                            height: 14px;
                            width: 102px;
                            line-height: 1;
                            margin-bottom: 7px;
                        }
                        .bkzj{
                            color:#999;
                            margin-top:-1px !important; 
                        }
                        img{
                            position: absolute;
                            width: 90px;
                            height: 90px;
                            bottom: 10px;
                            right: 10px;
                            margin-top: 15px;
                            margin-left: 15px;
                            -webkit-transition: -webkit-transform .4s ease;
                            transition: -webkit-transform .4s ease;
                            -o-transition: -o-transform .4s ease;
                            -moz-transition: transform .4s ease,-moz-transform .4s ease;
                            transition: transform .4s ease;
                            transition: transform .4s ease,-webkit-transform .4s ease,-moz-transform .4s ease,-o-transform .4s ease;
                            cursor: pointer;
                        }
                    }
                    .bursting:nth-child(even){
                        border-right: 1px solid #f6f6f6;
                    }
                    img:hover{
                        transform: translate3d(-5px,0,0);
                    }
                }
            }
        }
        .qua-top{
            width: 170px;
            height: 421px;
            float: left;
            border-left: 1px solid #f6f6f6;
            position: relative;
            .qua-paihang{
                margin-left: 81px;
                position: absolute;
                width: 71px;
                background: 0;
            }
            .qua-top-font{
                font-size: 16px;
                color: #333;
                margin-top: 20px;
            }
            p{
                margin-left: 20.5px;
                font-size: 14px;
                color: #999;
                margin-top: 7px;
                width: 130px;
                height: 21px;
                overflow: hidden;
                white-space: nowrap;
            }
            .qua-top-slideCon{
                overflow: hidden;
                position: absolute;
                height: 317px;
                width: 120px;
                left: 28px;
                bottom: 39px;
                .qua-top-slideInner{
                    -webkit-transition: all .5s ease;
                    -o-transition: all .5s ease;
                    -moz-transition: all .5s ease;
                    transition: all .5s ease;
                    position: relative;
                    left: 10px;
                    .qua-top-slideCon-ul{
                        position: relative;
                        height: 100%;
                        float: left;
                        left: 2px;
                        margin-right: 120px;
                        -webkit-transition: left .6s ease;
                        -o-transition: left .6s ease;
                        -moz-transition: left .6s ease;
                        transition: left .6s ease;
                        .qua-top-imgCon{
                            width: 90px;
                            height: 90px;
                            position: relative;
                            background-color: #fff;
                            -webkit-box-shadow: 0 2px 20px 0 rgba(0,0,0,0.07);
                            -moz-box-shadow: 0 2px 20px 0 rgba(0,0,0,0.07);
                            box-shadow: 0 2px 20px 0 rgba(0,0,0,0.07);
                            margin-bottom: 11px;
                            cursor: pointer;
                            overflow: hidden;
                            .qua-imgCon-font{
                                position: absolute;
                                background: gold;
                                font-size: 12px;
                                color: #fff;
                                width: 40px;
                                height: 16px;
                                text-align: center;
                                font-family: Tahoma;
                                font-weight: bold;
                            }
                            img{
                                margin-top: 15px !important;
                                margin-left: 15px !important;
                                width: 60px !important;
                                height: 60px !important;
                            }
                        }
                        .qua-top-imgCon:nth-child(3n+1){
                            margin-top:13px; 
                        }
                        a:nth-child(2) .qua-imgCon-font{
                            background: #ccc;
                        }
                        a:nth-child(3) .qua-imgCon-font{
                            background: burlywood;
                        }
                    }
                }
            }
            .qua-top-btn{
                position: absolute;
                width: 16px;
                height: 16px;
                -moz-border-radius: 8px;
                border-radius: 8px;
                background: #ebebeb;
                color: #fff;
                bottom: 20px;
                text-align: center;
                line-height: 16px;
                background: #d5d5d5;
                cursor: pointer;
                &:hover{
                    background-color: #666;
                }
            }
            .qua-top-btn-forbid{
                background-color: #ebebeb !important;
                &:hover{
                    background-color:  #ebebeb !important;
                }
            }
            .qua-top-left-btn{
                left: 60px;
            }
            .qua-top-left-btn i{
                font-size: 14px;
            }
            .qua-top-right-btn{
                left: 94px;
                padding-left: 2px;
            }
            .qua-top-right-btn i{
                font-size: 10px;
            }
        }
        .qua-brand{
            width: 100%;
            height: 80px;
            border-top: 1px solid #f6f6f6;
            position: relative;
            .qua-brand-btn{
                width: 15px;
                height: 40px;
                position: absolute;
                top: 20px;
                left: 0px;
                -webkit-box-shadow: 1px 0 10px 0 rgba(0,0,0,0.08);
                -moz-box-shadow: 1px 0 10px 0 rgba(0,0,0,0.08);
                box-shadow: 1px 0 10px 0 rgba(0,0,0,0.08);
                -moz-border-radius: 0 6px 6px 0;
                border-radius: 0 6px 6px 0;
                line-height: 40px;
                z-index: 1000;
                color: #b1b1b1;
                cursor: pointer;
                i{
                    position: relative;
                    left: -1px;
                }
            }
            .active{
                color: #e2e2e2 !important;
            }
            .qua-brand-left-btn{
                left:0;
            }
            .qua-brand-right-btn{
                right: 0px !important;
                left: auto;
                -moz-border-radius: 6px 0 0 6px;
                border-radius: 6px 0 0 6px;
            }
            .qua-brand-img-con{
                width: 100%;
                height: 100%;
                overflow: hidden;
                position: relative;
                cursor: pointer;
                ul{
                    width: 9999px;
                    top: 0;
                    left: 0;
                    height: 100%;
                    position: absolute;
                }
                .qua-brand-img{
                    width: 152px;
                    height: 80px;
                    background-color: #fff;
                    float: left;
                    position: relative;
                    a{
                        display: block;
                        width: 100%;
                        height: 100%;
                        img{
                            transition: opacity 1.5s ease;
                            cursor: pointer;
                            width: 80px;
                            height: 80px;
                            position: absolute;
                            margin-left: -40px;
                            left: 50%;
                            &:hover{
                                opacity: .4;
                            }
                        }
                        .qua-brand-img-hover{
                            z-index: -1;
                            opacity: 0;
                            filter: Alpha(opacity=0);
                            width: 100%;
                            height: 0;
                            background-color: #fff;
                            position: absolute;
                            left: 0;
                            top: 0;
                            -webkit-transition: opacity 1.5s ease;
                            -o-transition: opacity 1.5s ease;
                            -moz-transition: opacity 1.5s ease;
                            transition: opacity 1.5s ease;
                        }
                        .qua-brand-img-hover-name{
                            color: #333;
                            font-size: 14px;
                            font-weight: bold;
                            width: 100px;
                            text-align: center;
                            line-height: 23px;
                            height: 23px;
                            position: absolute;
                            top: 22px;
                            left: 50%;
                            margin-left: -50px;
                            z-index: -1;
                            opacity: 0;
                            filter: Alpha(opacity=0);
                            -webkit-transition: opacity 1.5s ease;
                            -o-transition: opacity 1.5s ease;
                            -moz-transition: opacity 1.5s ease;
                            transition: opacity 1.5s ease;
                        }
                        .qua-brand-img-hover-lyd{
                            color: #666;
                            font-size: 12px;
                            width: 120px;
                            text-align: center;
                            line-height: 14px;
                            height: 14px;
                            top: 46px;
                            margin-left: -60px;
                            left: 50%;
                            position: absolute;
                            font-weight: bold;
                            z-index: -1;
                            opacity: 0;
                            filter: Alpha(opacity=0);
                            -webkit-transition: opacity 1.5s ease;
                            -o-transition: opacity 1.5s ease;
                            -moz-transition: opacity 1.5s ease;
                            transition: opacity 1.5s ease;
                            span{
                                width: 10px;
                                height: 1px;
                                background: #e2e2e2;
                                display: inline-block;
                                position: relative;
                                top: -3px;
                            }
                            .qua-brand-hover-hover-leftLine {
                                margin-right: 5px;
                            }
                            .qua-brand-hover-hover-rightLine {
                                margin-left: 5px;
                            }
                        }
                        .text-limit{
                            white-space: nowrap;
                            -o-text-overflow: ellipsis;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                    }
                    &:hover .qua-brand-img-hover{
                        opacity: .9;
                        height: 100%;
                        z-index: 100;
                        cursor: pointer;
                    }
                    &:hover .qua-brand-img-hover-lyd{
                        opacity: 1;
                        z-index: 100;
                    }
                    &:hover .qua-brand-img-hover-name{
                        opacity: 1;
                        z-index: 100;
                    }
                }
            }
        }
    }
    .eat-all-word{
        height: 421px !important;
    }
}