@charset 'utf-8';
/*css reset*/
body,p,h1,h2,h3,h4,h5,h6,input,ul,li,ol,dl,dt,dd,form,fieldset,legend,textarea,select,img,figure,figcaption{margin:0;padding:0;}
em,i{font-style: normal;}
b,strong,h1,h2,h3,h4,h5,h6{font-weight: normal;}
a,u{text-decoration: none;}
body{font-family: "微软雅黑";}
ul,li,ol{list-style: none;}
img{border:0;display: block;}
input{outline:0;border:0;}
