@import 'common.css';
$color:#ff4040;
$backgroundColor:#f4f4f4;
.header-wrap{
    background-color: #fff;
    min-width: 1070px;
    .topbar{
        height: 30px;
        border-bottom: 1px solid #e5e5e5;
        background-color: $backgroundColor;
        line-height: 30px;
        .topbar-left{
            float: left;
            .has-child{
                position: relative;
                float: left;
                .topbar-city{
                    position: relative;
                    float: left;
                    display: block;
                    height: 30px;
                    padding-left: 10px;
                    color: #666;
                    .iconfont{
                        color:$color;
                        float: left;
                    }
                    .text{
                        padding-left: 3px; 
                    }
                    &:hover{
                        color: $color;
                    }
                }
            }
        }
        .topbar-right{
            float: right;
            color: #666;
            ul{
                float: left;
                li{
                    position: relative;
                    z-index: 600;
                    float: left;
                    height: 30px;
                }
                .unlogin{
                    float: left;
                    padding: 0 10px;
                    .login-link{
                        color: $color;
                    }
                    .regist-link{
                        color: #aaa;
                        padding-left: 8px;
                    }
                }
                .global-login{
                    display: none;
                    .login{
                        position: relative;
                        z-index: 601;
                        float: left;
                        padding: 0 10px;
                        border-left: 1px solid $backgroundColor;
                        border-right: 1px solid $backgroundColor;
                        .hi{
                            float: left;
                            cursor: pointer;    
                        }
                        .username{
                            float: left;
                            max-width: 86px;
                            height: 30px;
                            overflow: hidden;
                            color: #666;
                            white-space: nowrap;
                            -o-text-overflow: ellipsis;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                        .login-out{
                            font-size: 12px;
                            color: #aaa;
                            display: block;
                            float: left;
                            margin: 6px 5px 0px 5px;
                            height: 18px;
                            padding: 0 8px;
                            -moz-border-radius: 100px;
                            border-radius: 100px;
                            line-height: 18px;
                        }
                    }
                    .vip{
                        float: left;
                        margin: 6px 5px 0 5px;
                    }
                }
                .menu{
                    float: left;
                    min-width: 66px;
                    _width: 66px;
                    height: 30px;
                    padding: 0 7px;
                    border-left: 1px solid $backgroundColor;
                    border-right: 1px solid $backgroundColor;
                    .iconfont{
                        color: #aaa;
                    }
                    .text{
                        padding-left: 3px;
                    }
                    &:hover .iconfont{
                        color: $color;
                    }
                }
            }
        }
    }
    .header-bp{
        height: 180px;
        width: 100%;
        max-width: 1920px;
        margin: 0 auto;
        position: relative;
        .hd-header{
            position: absolute;
            height: 180px;
            background-repeat: no-repeat;
            top: 0px;
            left: 50%;
            margin-left: -535px;
            .hd-lolo-area{
                float: left;
                position: relative;
                width: 300px;
                height: 140px;
                .hd-logo{
                    position: relative;
                    display: block;
                    width: 140px;
                    height: 140px;
                    margin-top: 1px;
                    img{
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
                .hd-slogan{
                    display: table;
                    width: 160px;
                    height: 90px;
                    position: absolute;
                    right: 0;
                    top: 30px;
                    .inner{
                        display: table-cell;
                        vertical-align: middle;
                        img{
                            max-width: 100%;
                            max-height: 100%;
                            width: 160px;
                            height: 90px;
                        }
                    }
                }
            }
            .hd-header-right{
                position: relative;
                float: right;
                width: 650px;
                padding-top: 50px;
                z-index: 1001;
                .hd-head-search{
                    position: relative;
                    z-index: 501;
                    padding-top: 40px;
                    .hd-search-form{
                        position: absolute;
                        top: 0;
                        left: 0;
                        .hd-search-wrap{
                            position: relative;
                            z-index: 501;
                            border-radius: 100px;
                            padding: 1px;
                            border: 1px solid #e2e2e2;
                            background: 0;
                            .hd-search-inp{
                                width: 476px;
                                border-radius: 100px;
                                height: 38px;
                                line-height: 38px;
                                color: #333;
                                background: #fcfcfc;
                                float: left;
                                outline: 0 none;
                                border: 0 none;
                                padding-left: 32px;
                                font-size: 14px;
                            }
                            &:hover{
                                border: 1px solid $color;
                                cursor: pointer;
                            }
                            .hd-search-btn{
                                position: absolute;
                                height: 38px;
                                right: 0;
                                float: left;
                                width: 50px;
                                text-align: center;
                                line-height: 36px;
                                border: 0 none;
                                outline: 0;
                                background-color: transparent;
                                color: #333;
                                text-indent: -11px;
                                border-top-right-radius: 100px;
                                -moz-border-radius-topright: 100px;
                                -moz-border-radius-bottomright: 100px;
                                border-bottom-right-radius: 100px;
                                cursor: pointer;
                                .iconfont{
                                    color: #666;
                                    font-size: 24px;
                                }
                            }
                        }
                        .hd-search-tips{
                            display: none;
                            position: absolute;
                            top: 42px;
                            left: 20px;
                            padding: 5px 0;
                            z-index: 1001;
                            width: 430px;
                            background: #fff;
                            -webkit-box-shadow: 0 2px 9px 0 rgba(0,0,0,0.08);
                            -moz-box-shadow: 0 2px 9px 0 rgba(0,0,0,0.08);
                            box-shadow: 0 2px 9px 0 rgba(0,0,0,0.08);
                            -moz-border-radius: 0px 0px 5px 5px;
                            border-radius: 0px 0px 5px 5px;
                            .hd-search-tips-list{
                                max-height: 360px;
                                overflow-y: auto;
                                .item{
                                    height: 27px;
                                    .hd-item{
                                        position: absolute;
                                        float: left;
                                        display: block;
                                        height: 30px;
                                        // border: 1px solid #fff;
                                        border-right: 0 none;
                                        color: #333;
                                        font-size: 12px;
                                        line-height: 30px;
                                        padding-left: 12px;
                                    }
                                    &:hover{
                                        background-color: #ddd; 
                                    }
                                }
                            }
                        }
                    }
                    .hd-hot-search{
                        height: 19px;
                        padding-top: 8px;
                        padding-left: 32px;
                        overflow: hidden;
                        a{
                            text-decoration: none;
                            float: left;
                            margin-right: 10px;
                            line-height: 19px;
                            font-size: 14px;
                            color: #aaa;
                        }
                        a:hover{
                            color:#333;
                        }
                    }
                }
                .hd-mini-cart{
                    position: absolute;
                    z-index: 501;
                    top: 50px;
                    right: 0;
                    cursor: pointer;
                    .hd-c-num{
                        display: none;
                        position: absolute;
                        z-index: 601;
                        top: -5px;
                        right: 0;
                        min-width: 12px;
                        height: 18px;
                        padding: 0 3px;
                        -moz-border-radius: 10px;
                        border-radius: 10px;
                        background: #ff4040;
                        color: #fff;
                        font-family: Tahoma;
                        font-size: 12px;
                        text-decoration: none;
                        line-height: 17px;
                        text-align: center;
                    }
                    .hd-prism-cart{
                        text-decoration: none;
                        display: block;
                        width: 120px;
                        height: 20px;
                        overflow: hidden;
                        padding: 9px 0 9px;
                        border: 1px solid #e2e2e2;
                        -moz-border-radius: 100px;
                        border-radius: 100px;
                        background: #fff;
                        text-align: center;
                        line-height: 20px;
                        color: #333;
                        font-size: 16px;
                        .iconfont{
                            margin-right: 6px;
                            font-size: 18px;
                            color: #272636;
                        }
                    }
                }
            }
            .hd-header-nav{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 38px;
                line-height: 38px;
                .category-list-root{
                    position: absolute;
                    width: 140px;
                    height: 100%;
                    .category-title{
                        padding-top: 2px;
                        height: 100%;
                        text-align: center;
                        color: #fff;
                        font-size: 16px;
                        background-color: #ff4040;
                        cursor: pointer;
                        .icon-caidan{
                            position: relative;
                            top: -2px;
                            padding-right: 10px;
                            font-size:10px; 
                        }
                        span{
                            height: 100%;
                            text-align: center;
                            color: #fff;
                            font-size: 16px;
                            background-color: #ff4040;
                            cursor: pointer;
                        }
                        .icon-up-copy{
                            font-size: 20px;
                            margin-left: 3px;
                            top:2px;
                            position: relative;
                            display: inline;
                            font-weight: bold;
                        }
                    }
                    .catrgory-list{
                        display: none;
                        position: absolute;
                        top: 38px;
                        left: 0;
                        width: 1068px;
                        height: 410px;
                        background-color: #fff;
                        border: 1px solid #ff4040;
                        z-index: 1001;
                        .column-item{
                            display: inline-block;
                            float:left;
                            width: 155px;
                            padding-left: 22px;
                            margin: 30px 0;
                            border-right: 1px solid #e9e9e9;
                            .category-item{
                                display: inline-block;
                                vertical-align: middle;
                                width: 100%;
                                height: 175px;
                                position: relative;
                                color: #333;
                                text-align: left;
                                .inner{
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    top: 0;
                                    left: 0;
                                    .title{
                                        font-size: 14px;
                                        line-height: 19px;
                                        padding-bottom: 12px;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        -o-text-overflow: ellipsis;
                                        text-overflow: ellipsis;
                                        font-weight: bold;
    
                                    }
                                }
                                ul{
                                    margin-top: 22px;
                                    .text{
                                        float: left;
                                        width: 50%;
                                        display: inline-block;
                                        line-height: 16px;
                                        margin-bottom: 8px;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        -o-text-overflow: ellipsis;
                                        text-overflow: ellipsis;
                                        height: 16px;
                                        &:hover a{
                                            font-weight: bold;
                                            color: #ff4040 !important;  
                                        }                                    
                                    }
                                }
                               &:nth-child(2) .title{
                                   padding-top: 22px;
                               }
                               &:nth-child(2) ul{
                                   padding-top: 22px
                               }
                            
                            }

                        }
                    }
                    &:hover .catrgory-list{
                        display: block;
                    }
                }
                .nav-list{
                    padding-left: 140px;
                    font-size: 16px;
                    color: #333;
                    overflow: hidden;
                    height: 100%;
                    li{
                        float: left;
                        margin-left: 30px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}


.ft-wrap{
    background:#fff;
    .ft-footer-service{
        padding: 30px 0;
        border-bottom: 1px solid #ebebeb;
        a{
            margin-right: 81px !important;
            margin-left: 0px !important;
            cursor: default;
            float: left;
            display: block;
            _display: inline;
            width: 205px;
            overflow: hidden;
            margin: 0 51px;
            img{
                float: left;
                display: block;
                _display: inline;
                width: 66px;
                height: 66px;
                margin-right: 15px;
            }
            b{
                display: block;
                margin-top: 10px;
                font-size: 16px;
                color: #333;
                font-weight: bold;
            }
            span{
                font-size: 14px;
                color: #999;
                line-height: 26px;
            }
        }
        a:last-child{
            margin-right: 0px !important;
        }
    }
    .ft-footer-link{
        padding: 20px 0 20px;
        overflow: hidden;
        .ft-help-list{
            float: left;
            padding-left: 15px;
            dl{
                float: left;
                display: block;
                _display: inline;
                width: 195px;
                dt{
                    height: 32px;
                    padding: 0 8px;
                    font-size: 14px;
                    line-height: 32px;
                    overflow: hidden;
                    font-family: "Microsoft YaHei";
                    color: #666;
                    font-weight: bold;
                }
                dd{
                    height: 24px;
                    padding: 0 8px;
                    line-height: 24px;
                    overflow: hidden;
                    white-space: normal;
                    font-size: 12px;
                    a{
                        color:#666;
                    }
                }
            }
        }
        .ft-code-wrap{
            width: 280px;
            overflow: hidden;
            float: left;
            margin-right: -50px;
            .ft_mobile_code{
                float: left;
                margin-right: 50px;
                line-height: 32px;
                font-size: 14px;
                font-weight: bold;
                color: #666;
                img{
                    width: 90px;
                    height: 90px;
                }
            }
        }
    }
    #footer{
        p{
            color: #666;
            text-align: center;
            text-indent: 0;
            line-height: 100%;
            margin: 15px 0;
            padding: 0;
            a{
                color: #333;
                margin: 0px 3px;
            }
        }
        .ft_pic_link{
            display: block;
            padding: 10px 0 20px;
            text-align: center;
            font-size: 0;
            a{
                display: inline-block;
                margin: 0 4px;
                img{
                    display: inline-block;
                }
            }
        }
    }
}