@charset "utf-8";
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input,figure{margin:0;padding:0;}
body{font-family:"微软雅黑";}
ul,ol,li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:normal}
em,i{font-style:normal;}
b,strong{font-weight:normal;}
a,u{text-decoration:none;}
input{outline:none;}
img{border:0;display:block;}
.clear-fix:after{content:".";clear:both;display:block;height:0;overflow:hidden;visibility:hidden;}
.clear-fix{zoom:1;}


.main-cont{width:1195px;margin:0 auto;}


/*!main*/
.main{
    height:534px;
    position: relative;
    border-bottom: 1px solid #f4f4f4;
    background: #fcfcfc;
    padding:30px 0 40px;
    .main-bj{
        position: absolute;
        top: 27px;
        left: 50%;
        z-index: 120;
        width: 1200px;
        height: 500px;
        opacity: 0.5;
        margin-left: -600px;
        text-align: center;
        background: url(../images/background-req2.png) no-repeat,url(../images/background-req1.png) no-repeat;
    }
    .main-cont{
        position: relative;
        z-index: 150;
        width: 330px;
        & h4{
            text-align: center;
            font-weight: bold;
            font-size: 24px;
            line-height: 50px;
            color: #333;
        }
        .form{
            color:#333;
            .form-ul{
                //每个li
                & li{
                    position: relative;
                    min-height: 52px;
                    margin-top: 10px;
                    margin-right: -200px;
                    // 用户名 手机 密码
                    .item{
                        position: relative;
                        z-index: 2;
                        width: 328px;
                        height: 50px;
                        border: 1px solid #dedede;
                        border-radius: 3px;
                        .input{
                            position: relative;
                                z-index: 5;
                                width: 328px;
                                height: 20px;
                                margin-top: 15px;
                                padding: 0px 20px;
                                background: 0;
                                border: 0;
                                font-size: 14px;
                                line-height: 20px;
                                color: #666;
                        }                  
                        & span{
                            position: absolute;
                            left: 20px;
                            top: 0px;
                            display: inline-block;
                            height: 50px;
                            font-size: 14px;
                            line-height: 50px;
                            color: #666;
                        }
                    }
                    //手机验证码
                    .phoneyzm{
                        position: relative;
                        z-index: 2;
                        width: 194px;
                        height: 50px;
                        border: 1px solid #dedede;
                        border-radius: 3px;
                        float: left;
                        .input{
                            position: relative;
                            z-index: 2;
                            width: 288px;
                            height: 20px;
                            margin-top: 15px;
                            padding: 0px 20px;
                            background: 0;
                            border: 0;
                            outline: 0;
                            font-size: 14px;
                            line-height: 20px;
                            color: #666;
                        }
                        & span{
                            position: absolute;
                            left: 20px;
                            top: 0px;
                            display: inline-block;
                            height: 50px;
                            font-size: 14px;
                            line-height: 50px;
                            color: #666;
                        }
                    }
                    //手机验证码
                    .getyzm{
                                float: left;
                                position: relative;
                                z-index: 2;
                                width: 126px;
                                height: 50px;
                                margin-left: 10px;
                                text-align: center;
                                background-color: #57565f;
                                line-height: 52px;
                                color: #fff;
                                cursor: default;
                                border-radius: 2px;
                                font-size: 14px;
                     }
                     //每个提示框
                    .tishi{
                        position: absolute;
                        left: 348px;
                        top: -4px;
                        font-size: 12px;
                        color: #fff;
                        width:180px;
                        height:60px;
                        display: none;
                        .false{
                            padding:10px;
                            background:#c4c4c4;
                            padding: auto;
                            & i{
                                position: absolute;
                                left: -10px;
                                top: 50%;
                                overflow: hidden;
                                margin-top: -5px;
                                border-color: transparent #e4e4e4 transparent transparent;
                                border-style: dashed solid dashed dashed;
                                border-width: 5px;                            
                            }
                            & p{
                                margin:auto 0;
                                max-width:180px;
                                height:40px;
                                line-height: 20px;
                                color: #666;
                                font-size: 12px;
                                text-align: center;
                            }
                        }
                        .true{
                            display: none;
                            position: absolute;
                         //  left: 348px;
                            top: 14px;
                            width: 23px;
                            height: 23px;
                            background:url(../images/dagou.jpg) no-repeat;
                            background-size: 100% 100%;
                        }
                    } 
                    //按钮上面一行        
                    .item-word{
                        height: 35px;
                        font-size: 12px;
                        line-height: 35px;
                        color: #666;
                        text-indent: 1em;
                        & a{
                            color:#06c;
                        }
                    }
                    //提交按钮
                    .btn{
                        display: block;
                        width: 330px;
                        height: 52px;
                        margin-top: 6px;
                        background-color: #ff3c3c;
                        font-size: 16px;
                        line-height: 52px;
                        color: #fff;
                        text-align: center;
                        border-radius: 2px;
                        cursor: pointer;
                        &:hover{
                            background: #d72226;
                        }
                    }
                }

            }
        }
    }
}

#hidden{
    display: none;
}