@import 'common.css';
$height:400px;
$mix-width:1070px;
.swiper-container{
    width: 100%;
    height: $height;
    position: relative;
    margin: 0 auto;
    margin-bottom: 40px;
    .swiper-wrapper{
        width: 100%;
        height: 100%;
        .swiper-slide{
            position: absolute;
            width: 100%;
            height: 100%;
            animation: all 4s;
            z-index: 0;
            display: none;
            .img{
                position: absolute;
                width:100%;
                height: 100%;
                min-width: $mix-width;
                top:0;
                left:0;
                background-position: center;
                background-repeat: no-repeat;  
            };
        };
        .active{
            z-index: 1;
            display: list-item;
        }
    };
    .swiper-tab{
        height: 40px;
        position: absolute;
        width: $mix-width;
        top:370px;
        left: 50%;
        margin-left:-($mix-width/2);
        z-index: 100;
        cursor: pointer;
        .swiper-tab-ol{
            text-align: center;
            white-space: nowrap;
            font-size:0px;
            overflow: hidden;
            .swiper-cur{
                margin-right: 10px;
                display: inline-block;
                width: 110px;
                overflow: hidden;
                height: 40px;
                background: #fff;
                text-align: center;
                color: #333;
                font-size: 14px;
                line-height: 40px;
                cursor: pointer;
            };
            .active{
                background: #333;
                color: #fff;
            }

        }
    }
}
.cheap-prod{
    position: relative;
    width: 1040px;
    margin: 0 auto;
    padding: 40px 80px 45px;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    background: #fff;
    overflow: hidden;
    margin-bottom: 50px; 
    .control-btn{
        position: absolute;
        top: 50%;
        display: inline-block;
        overflow: hidden;
        z-index: 8;
        width: 30px;
        height: 44px;
        margin-top: -22px;
        line-height: 44px;
        text-align: center;
        background: #ddd;
        span{
            display: inline-block;
            width: 100%;
            height: 100%;
            background: url(../images/left1.png) no-repeat center;
        }
    }
    .left-arrow{
        left:14px;
        &:hover span{
            background: url(../images/left2.png) no-repeat center; 
        }
    }
    .right-arrow{
        right: 14px;
        span{
            background: url(../images/right1.png) no-repeat center;
        }
        &:hover span{
            background: url(../images/right2.png) no-repeat center; 
        }
        
    }
    .sale-scroll-box{
        position: relative;
        width: 100%;
        overflow: hidden;
    }
    .view-dot{
        position: absolute;
        left: 0px;
        bottom: 16px;
        z-index: 9;
        width: 100%;
        height: 20px;
        margin: 0 auto;
        text-align: center;
        span{
            display: inline-block;
            width: 10px;
            height: 10px;
            margin: 5px;
            text-align: center;
            background-color: #e5e5e5;
            cursor: pointer;
            border-radius: 20px;
            -webkit-transition: all 0.4s ease-in;
            transition: all 0.4s ease-in;
            _overflow: hidden;
        }
        .cur{
            width: 18px;
            background-color: #ff5e5e;
        }
    }
    .sale-scroll-box{
        position: relative;
        width: 100%;
        overflow: hidden;
        ul{
            position: relative;
        }
        li{
            float: left;
            width: 150px;
            margin-right: 72px;
            .sale-item{
                margin-bottom: 25px;
                .prod-img{
                    width: 150px;
                    height: 150px;
                    position: relative;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .prod-info{
                    padding: 8px 0px;
                    text-align: center;
                    p{
                        width: 150px;
                        height: 22px;
                        line-height: 22px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        color: #ff5e5e;
                    }
                    .p-pri b{
                        font-family: 'Tahoma';
                        font-size: 13px;
                    }
                    .p-tit a{
                        color: #666;
                    }
                }
            }
        }
    }
}